@import '_loading.scss';

div {
    width: auto;
}

.breadcrumb {
    font-size: 12px;
    background-color: #f1f1f1;
    padding: 0.25rem 1rem;
    border-radius: none;
    margin-bottom: 60px;
}

.countries {
    p {
        margin-bottom: 5px;
    }
    .flag {
        max-width: 100%;
        margin-bottom: 40px;
    }
}

.wrapper-search {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 110px;
    width: 100%;
    font-size: 1.25em;
    border: none;
    outline: none;

    form {
        input[type="search"] {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            display: flex;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
            padding: 15px 10px;
            font-size: 1.25em;
            border: none;
            outline: none;
        }
    }
}